
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;

 
}




input::-webkit-inner-spin-button,input::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0px;
}



/* #root{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: orange;
}  */


html,body{
  height: 100%;
  width: 100%;
  background-color: #FFFCF3;

}

#root {
  overflow-x: hidden;

}


::-webkit-scrollbar-thumb{
  background-color: black;
  border-radius: 10px;
}